<!DOCTYPE html>
<html>
  <head>
    <title>Love Spreading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/selfdefine.css" rel="stylesheet" media="screen">
    <link href="../../css/user.css" rel="stylesheet" media="screen">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:3000/home">Love Spreading</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:3000/home">物品瀏覽</a></li>
            <li><a href="http://127.0.0.1:3000/upload">物品捐贈</a></li>
            <% if(!user){ %>
            <li data-toggle="modal" data-target="#myModal"><a href="#">Login</a></li>
            <% } else { %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://127.0.0.1:3000/profile/<%= user.id%>">Profile</a></li>
                <li><a href="http://127.0.0.1:3000/user/logout">Logout</a></li>
              </ul>
            </li>
            <% } %>
            
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </head>
  <body>

    <div class="container-fluid">
      <!--Content and sidebar-->
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

        </div>
      <div class="col-sm-9 col-md-10 main content">
        <h1>User Profile</h1>
        <div>您的ID : <%= file.id %></div>
        <div>您的暱稱 : <%= file.name %></div>
        <div>您的連絡電話 : <%= file.tel %></div>
        <div>您的連絡Email : <%= file.email %></div>
        <div>您所擁有的Credit : <%= file.credit %></div>
        <div></div>

      </div>
    </div>

<!-- Prompt login dialog Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="text-center">Login</h1>
          </div>
          <div class="modal-body">
            <form action="http://127.0.0.1:3000/user/login" class="form col-md-12 center-block" method="POST">
              <div class="form-group">
                <input name="id" type="text" class="form-control input-lg" placeholder="Account" id="account">
              </div>
              <div class="form-group">
                <input name="password" type="password" class="form-control input-lg" placeholder="Password" id="password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="signIn">Sign In</button>
                <span class="pull-left" data-toggle="modal" data-target="#myModal2"><a href="#" onclick="$('#myModal').modal('hide')">Don't have an account? Register!</a></span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="col-md-12">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>  
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="text-center">Register</h1>
          </div>
          <div class="modal-body">

            
            <form action="http://127.0.0.1:3000/user" class="form center-block" method="POST">
              <div class="form-group">
                <input name="id" type="text" class="form-control input-lg" placeholder="Account" id="account">
              </div>
              <div class="form-group">
                <input name="password" type="password" class="form-control input-lg" placeholder="Password" id="password">
              </div>
              <div class="form-group">
                <input name="name" type="text" class="form-control input-lg" placeholder="Name" id="name">
              </div>
              <div class="form-group">
                <input name="email" type="text" class="form-control input-lg" placeholder="Email Address" id="email">
              </div>
              <div class="form-group">
                <input name="tel" type="text" class="form-control input-lg" placeholder="Telephone Number" id="tel">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="signIn">Register</button>
              </div>
            </form>


          </div>
          <div class="modal-footer">
            <div class="col-md-12">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>  
          </div>
        </div>
      </div>
    </div>

    <!-- Prompt login dialog modal end -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>

  </body>
</html>

